.custom-home-links
  .custom-home-links__row--upper
    .custom-home-links__link(v-for='link, i in props.links', :key='i' @click='handleRoute({ path: link.path, hash: link.hash })')
      .custom-home-links__bg(:style="{ backgroundImage: 'url(' + link.image + ')' }")
      .custom-home-links__overlay
      .custom-home-links__label(v-html='link.label')
  .custom-home-links__row--lower(v-waypoint='{ active: true, callback: onScroll, options: options }')
    .custom-home-links__image-container(:class="{ 'custom-home-links__image-container--active': active }")
      LazyImage.custom-home-links__image--lower(:src='props.image_lower')       
    .custom-home-links__right
      .custom-home-links__link--lower(v-for='lowerLink, j in props.links_lower', :key='j', ref='links')
        .custom-home-links__dots
          span(v-for='dot, k in 6', :key='k') .
        .custom-home-links__content  
          .custom-home-links__title(v-html='lowerLink.title')
          .custom-home-links__label--alt(v-html='lowerLink.href' @click='handleRoute({ path: lowerLink.path, hash: lowerLink.hash })')  
      
          
  
