.button

  &--main
    display: block
    position: relative
    transition: all .2s ease
    border-radius: 26px
    box-shadow: $shadow-button
    background: $teal
    padding: rem-calc(5) 0
    width: 100%
    text-align: center
    color: $white

    &:after
      position: absolute
      top: -4px
      left: -4px
      border: 2px solid $teal
      border-radius: 28px
      width: 102.5%
      height: 112.5%
      content: ''

    @media (hover: hover)
      &:hover
        box-shadow: $shadow
        background: $blue-green

        &:after
          opacity: 0
          border-color: $blue-green
