.form
  form.form__form(@submit.prevent='validate' method='post' ref='form')
    
    .form__group
      span.form__label(:class="{ 'form__label--active': firstName !== '' || active === 'firstName' }" @click='focused("firstName")') First Name #[span.danger *]
      input.form__input(name='firstName' v-model='firstName' v-validate="'required|alpha'", :class="{ 'form__input--error': errors.has('firstName') && !formSuccess }" type='text' @focus='focused("firstName")')
        
    .form__group
      span.form__label(:class="{ 'form__label--active': lastName !== '' || active === 'lastName' }" @click='focused("lastName")') Last Name #[span.danger *]
      input.form__input(name='lastName' v-model='lastName' v-validate="'required|alpha'", :class="{ 'form__input--error': errors.has('lastName') && !formSuccess }" type='text' @focus='focused("lastName")')
            
    .form__group
      span.form__label(:class="{ 'form__label--active': email !== '' || active === 'email' }" @click='focused("email")') Email Address #[span.danger *]
      input.form__input(name='email' v-model='email' v-validate="'required|email'", :class="{ 'input': true, 'form__input--error': errors.has('email') && !formSuccess }" @focus='focused("email")')
    
    .form__group
      span.form__label(:class="{ 'form__label--active': phone !== '' || active === 'phone' }" @click='focused("phone")') Phone Number #[span.danger *]
      input.form__input(name='phone', v-model='phone', v-validate="'required|numeric'", :class="{ 'input': true, 'form__input--error': errors.has('phone') && !formSuccess }" @focus='focused("phone")')

    .form__group.form__group--radio
        .form__radio-group
          input.form__input--radio(
            name='isFirstTime'
            v-model='isFirstTime'
            value='Yes'
            type='checkbox')
          span.form__radio-overlay
          label.form__label--radio Yes, I am a first time patient    
      
    .form__group.form__group--radio
      p Select Location
      .form__radio-group
        input.form__input--radio(name='location' v-model='location' value='Bowie' type='radio')
        span.form__radio-overlay
        label.form__label--radio Bowie
        
      .form__radio-group
        input.form__input--radio(name='location' v-model='location' value='Smile HQ (DC)' type='radio')
        span.form__radio-overlay
        label.form__label--radio Smile HQ (DC) 
            
    .form__group
      span.form__label(:class="{ 'form__label--active': message !== '' || active === 'message' }" @click='focused("message")') Message
      input.form__input(name='message' v-model='message' type='text' @focus='focused("message")')
    
    .form__group--button
      button.form__submit-button(type='submit', :disabled='formSubmitted')
        span Submit
      
  transition(name='fade')
    .form__send-modal(v-if='formSubmitted')
      .form__send-modal-container
        .form__close(@click='handleClose' v-if='formSuccess && formSubmitted')
          span
          span
        .form__sending(v-if='!formSuccess && formSubmitted') Sending
          span .
          span .
          span .
        .form__thank-you(v-if='formSuccess && formSubmitted')
          Icon.form__thank-you-logo(name='logo')
          p.form__highlight We appreciate you reaching out. 
          p We'll get back to you soon.   
