.pages-home(v-if='props')
  HeroHome(:props='props.hero_home')
  Welcome(:props='props.welcome')
  Invisalign(:props='props.invisalign')
  Links(:props='props.links')
  Testimonials(:props='props.testimonials')  
