.divider-braces
  .divider-braces__bg(:style="{ backgroundImage: 'url(' + props.bg + ')' }")
  .divider-braces__container
    .divider-braces__text(v-html='props.text')
    router-link.divider-braces__appt-btn(to='/contact') Schedule Consult.
