.pages-styleguide
  .pages-styleguide__container
    .pages-styleguide__col.pages-styleguide__col--left
      h1 Styleguide
      h1.accent Heading 1 Accent
      h1.hero Heading 1 Hero
      h1.h1-alt Heading 1 alt
      h1 Heading 1
    .pages-styleguide__col.pages-styleguide__col--right  
      h1.photo Heading Photo
      h2 Heading 2
      h3.highlight Heading 3 highlight
      h3 Heading 3
      p.link-main Links >
      p Lorem ipsum dolor sit amet, erat laoreet, ipsum nullam ultrices purus fermentum massa mattis, sed non faucibus. Ac vel ultrices aliquam, sed commodo ligula volutpat mauris. Maecenas amet in vitae, mi mauris sit neque, volutpat odio, iaculis nisl. Ligula et laoreet, non condimentum.
