.hero-home
  .hero-home__waypoint(v-waypoint='{ active: true, callback: navTrigger}')
  .hero-home__overlay
    .hero-home__container
      .hero-home__logo
        Icon.hero-home__logo-icon(name='logo')
      .hero-home__title
        span(v-for='letter, i in props.title', :key='i', v-html='letter', :style="{ animationDelay: (i + 15) * .035 + 's'}")
      router-link.hero-home__appt-btn(to='/contact') Schedule Consult.
  .hero-home__bg
    transition-group(name='hero-crossfade' tag='div')
      .hero-home__image(v-for='image, j in props.images', :key='"image" + j', :style="{ backgroundImage: 'url(' + image.url + ')' }" v-show='index === j')        
    
