nav.navigation(v-if='props')
  .navigation__container
    router-link.navigation__logo(to="/", :class="{ 'navigation__logo--hide': $route.path === '/' && !$store.state.menu && !$store.state.nav, 'navigation__logo--menu': $store.state.menu, 'navigation__logo--scrolling': $store.state.nav }" v-on:click.native='closeMenu')
      Icon.navigation__logo-icon(name='logo', :class="{ 'navigation__logo-icon--white': $route.path === '/get-started' && !$store.state.menu && !$store.state.nav || $route.path === '/about-us' && width <= 768 && !$store.state.nav && !$store.state.menu }")
    .navigation__nav-primary
      .navigation__item(@click='handleClick("loc")', ref='location', :class="{ 'navigation__item--mobile-hide': $store.state.menu}")
        Icon.navigation__icon(name='location')
        .navigation__dropdown.navigation__dropdown--location
          a.navigation__link(v-for='location, j in props.location', :key='j', :href='location.link' target='_blank' v-html='location.city' v-on:click.stop='closeDropdown')
          
      .navigation__item(@click='handleClick("phone")', ref='phone', :class="{ 'navigation__item--mobile-hide': $store.state.menu}")
        Icon.navigation__icon(name='phone')
        .navigation__dropdown
          a.navigation__link(v-for='phone, i in props.phone', :key='i', :href="'tel:1-'+ phone.number")
            .navigation__link--location(v-html='phone.city')
            .navigation__link--number(v-html='phone.number')
            
      .navigation__hamburger(@click='toggleMenu', :class="{'navigation__hamburger--active': $store.state.menu, 'navigation__hamburger--white': $route.path === '/get-started' && !$store.state.menu && !$store.state.nav || $route.path === '/about-us' && !$store.state.menu && !$store.state.nav || $route.path === '/invisalign' && !$store.state.menu && !$store.state.nav}")
        transition-group(name='nav-crossfade' tag='div')
          .navigation__hamburger-menu(v-show='!$store.state.menu' key='menu') menu
          .navigation__hamburger-exit(v-show='$store.state.menu' key='exit') exit
        span
        span
