// --- basic fades/slides
@mixin fades($animation, $translate-x-from, $translate-y-from, $translate-x-to, $translate-y-to)
  @keyframes #{$animation}
    from
      transform: translate($translate-x-from, $translate-y-from)
      opacity: 0
    100%
      transform: translate($translate-x-to, $translate-y-to)
      opacity: 1

@keyframes dropdown-fade-in-down
  0%
    transform: translateY(-10px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

// @mixin cross($animation, $deg)
//   animation: #{$animation} .45s ease forwards
//   @keyframes #{$animation}
//     0%
//       transform: rotate(0)
//       width: 0
//     50%
//       top: 40%
//       left: 35%
//       transform: rotate(0) translateZ(0)
//       width: 30px
//     100%
//       top: 40%
//       left: 35%
//       transform: rotate($deg) translateZ(0)
//       width: 30px



// --- Bounce Effects

@keyframes funFaded
  0%
    transform: translateY(12%) scale(.75)
    opacity: 0
  75%
    transform: scale(1.05)
  85%
    opacity: 1
  100%
    transform: translateY(0) scale(1)
    opacity: 1

// --- Modal Effects

@keyframes modal-zoom
  from
    transform: scaleX(0) scaleY(.005)
    opacity: 0
  25%
    transform: scaleX(0) scaleY(.005)
    opacity: 1
  50%
    transform: scaleX(1) scaleY(.005)
    opacity: 1
  100%
    transform: scaleX(1) scaleY(1)
    opacity: 1
