// --- basic fades/slides
@mixin fades($animation, $translate-x-from, $translate-y-from, $translate-x-to, $translate-y-to)
  @keyframes #{$animation}
    from
      transform: translate($translate-x-from, $translate-y-from)
      opacity: 0
    100%
      transform: translate($translate-x-to, $translate-y-to)
      opacity: 1

@keyframes dropdown-fade-in-down
  0%
    transform: translateY(-10px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

@keyframes text-animation
  0%
    transform: translateY(-5px)
    opacity: 0
  50%
    transform: translateY(0)
  100%
    transform: translateY(0)
    opacity: 1

// --- Modal Effects

@keyframes modal-zoom
  from
    transform: scaleX(0) scaleY(.005)
    opacity: 0
  25%
    transform: scaleX(0) scaleY(.005)
    opacity: 1
  50%
    transform: scaleX(1) scaleY(.005)
    opacity: 1
  100%
    transform: scaleX(1) scaleY(1)
    opacity: 1
