.custom-invisalign-technology
  .custom-invisalign-technology__container
    .custom-invisalign-technology__col--left
      .custom-invisalign-technology__content
        .custom-invisalign-technology__content-header
        .custom-invisalign-technology__content-body
    .custom-invisalign-technology__col--right
      
  
