.custom-invisalign-technology
  @include tablet
    padding: 2rem 0
  background: $pale-grey
  padding: 5rem 0

  &__container
    @extend .container
    @include phone
      padding: 0

  &__col
    &--left
      @extend .col-5
      @extend .col-1--offset
      flex-direction: column
      justify-content: center

    &--right
      @extend .col-5
      justify-content: flex-end

    &--left,
    &--right
      @include tablet-lg
        flex-basis: calc((6/12) * 100%)
        margin: 0 auto
      @include tablet
        padding: 0
      display: flex

  &__content
    @include phone
      padding: 0 2rem
    margin-bottom: 2rem

    &-header
      @extend h3
      margin-bottom: rem-calc(8)
      letter-spacing: 2px
      color: $teal
      font-family: $roboto

  &__image-container
    @include desktop-lg
      max-width: rem-calc(409)
      height: rem-calc(370)
    @include tablet
      margin: 0 auto
    @include phone
      max-width: rem-calc(249)
      height: rem-calc(225)
    position: relative
    width: 100%
    max-width: rem-calc(360)
    height: rem-calc(322)
    overflow: hidden

  &__image
    transition: clip-path 1.1s cubic-bezier(.19, 1, .22, 1), opacity 1s ease-in-out
    opacity: 0
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%)

    .custom-invisalign-technology__container--active &
      opacity: 1
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    
