.nav-desktop(v-if='props')
  .nav-desktop__container
    .nav-desktop__nav-primary
      .nav-desktop__item
        Icon.nav-desktop__icon(name='location')
        .nav-desktop__dropdown
          a.nav-desktop__link(v-for='location, j in props.acf.location', :key='j', :href='location.link' target='_blank' v-html='location.city')
          
      .nav-desktop__item
        Icon.nav-desktop__icon(name='phone')
        .nav-desktop__dropdown
          a.nav-desktop__link(v-for='phone, i in props.acf.phone', :key='i', :href="'tel:1-'+ phone.number")
            .nav-desktop__link--location(v-html='phone.city')
            .nav-desktop__link--number(v-html='phone.number')
            
      .nav-desktop__hamburger(@click='toggleMenu')
        | menu
        span
        span
    
