.nav-desktop(v-if='props')
  .nav-desktop__container
    router-link.nav-desktop__logo(to="/", :class="{ 'nav-desktop__logo--hide': $route.path === '/' && !$store.state.menu }" v-on:click.native='closeMenu')
      Icon.nav-desktop__logo-icon(name='logo-color', :class="{ 'nav-desktop__logo-icon--white': $route.path === '/get-started' && !$store.state.menu }")
    .nav-desktop__nav-primary
      .nav-desktop__item(@click='handleClick("loc")', ref='location', :class="{ 'nav-desktop__item--mobile-hide': $store.state.menu}")
        Icon.nav-desktop__icon(name='location')
        .nav-desktop__dropdown
          a.nav-desktop__link(v-for='location, j in props.acf.location', :key='j', :href='location.link' target='_blank' v-html='location.city')
          
      .nav-desktop__item(@click='handleClick("phone")', ref='phone', :class="{ 'nav-desktop__item--mobile-hide': $store.state.menu}")
        Icon.nav-desktop__icon(name='phone')
        .nav-desktop__dropdown
          a.nav-desktop__link(v-for='phone, i in props.acf.phone', :key='i', :href="'tel:1-'+ phone.number")
            .nav-desktop__link--location(v-html='phone.city')
            .nav-desktop__link--number(v-html='phone.number')
            
      .nav-desktop__hamburger(@click='toggleMenu', :class="{'nav-desktop__hamburger--active': $store.state.menu, 'nav-desktop__hamburger--white': $route.path === '/get-started' && !$store.state.menu || $route.path === '/about-us' && !$store.state.menu || $route.path === '/invisalign' && !$store.state.menu}")
        transition-group(name='crossfade' tag='div')
          .nav-desktop__hamburger-menu(v-show='!$store.state.menu' key='menu') menu
          .nav-desktop__hamburger-exit(v-show='$store.state.menu' key='exit') exit
        span
        span
