.nav-desktop
  padding: 1rem 0

  &__container
    @extend .container--flex
    justify-content: flex-end

    @media screen and (max-width: 1230px)
      padding: 0 3rem

  &__nav-primary
    display: flex
    align-items: center

  &__item
    position: relative
    margin-right: rem-calc(12)

    &:hover
      filter: drop-shadow(0 0 12px rgba($teal, .5))

      .nav-desktop__dropdown
        display: block

      .nav-desktop__link
        animation: dropdown-fade-in-down .35s cubic-bezier(.39, .575, .28, .995) forwards

        @for $i from 1 through 2
          &:nth-child(#{$i})
            animation-delay: (($i - 1) * .125s)

    &:after
      position: absolute
      bottom: -1rem
      left: 0
      padding-bottom: 1rem
      width: 100%
      content: ''

  &__icon
    border-radius: 50%
    background: $teal
    padding: 5px
    width: 30px
    height: 30px
    fill: $white

  &__dropdown
    display: none
    position: absolute
    top: 3rem
    left: 50%
    transform: translate(-50%, 0)
    // opacity: 0

  &__link
    display: flex
    position: relative
    justify-content: center
    transform: translate(-50%, 0)
    transition: all .2s ease
    opacity: 0
    z-index: 2
    margin-bottom: 1rem
    border-radius: 26px
    box-shadow: $shadow-button
    background: $teal
    padding: .5rem
    width: 200px
    color: $white

    &--location
      margin-right: rem-calc(10)

    &:after
      position: absolute
      top: -4px
      left: -4px
      transition: all .2 ease
      border: 2px solid $teal
      border-radius: 26px
      width: 102.5%
      height: 113.5%
      content: ''

    &:hover
      box-shadow: none
      background: $blue-green

      &:after
        opacity: 0
        border-color: $blue-green

  &__hamburger
    cursor: pointer
    line-height: 1.15
    color: $green-grey
    font-size: 18px
    font-weight: 700

    span
      display: block
      transition: width .25s cubic-bezier(.52, .01, .16, 1)
      margin: 3px auto
      border-radius: 4.5px
      background: $green-grey
      width: 40px
      height: 5px

    &:hover
      span
        width: 48px
