.custom-home-instagram(v-if='instagram' v-waypoint="{ active: true, callback: onScroll, options: options }", :class="{ 'custom-home-instagram--active': active }")
  .custom-home-instagram__title(v-html='props.title') 
  .custom-home-instagram__container 
    a.custom-home-instagram__thumb(v-for='image, i in instagram.data', :key='i', :href='image.permalink' target='_blank' rel='noopener noreferrer')
      img.custom-home-instagram__image(:src='image.source')